body{
  background: grey;
  color: #fff;
  display: flex;
  justify-content: center;
}

#wrapper{
  width: 85%;
  background-color: #fff;
  color: #000;
}

#content{
  background-color: green;
  display: flex;
  /* margin-right: 200px; */
}

#aside{
  padding-left: 450px;
  background-size: cover;
}

#navbar{
  background-color: green;
  height: 50px;
}

ul.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li{
  float: left;
}

ul.menu li a{
  padding-right: 20px;
  padding-left: 20px;
  line-height: 50px;
  color: white;
  display: block;
  text-decoration: none;
}

ul.menu li a:hover{
  background-color: yellowgreen;
}

#maine{
  display: flex;
}

#fb{
  padding-left: 650px;
  margin-top: 15px;
}

#page{
  display: flex;

  object-fit: cover;
  background-image: url("../images/img1.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
}

#cen{
  text-align: center;
  color: green;
}

#mainPage{
  width: 50%;
}

#asides{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

#lappy{
  /* position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%); */
  width: 75%;
  /* padding-left: 10px; */
  border: 1px solid gray;
  margin: 0;
  background-color: #2b6734ba;
  color: white;
}


#section{
  display: flex;
  object-fit: fill;
}


#text{
  display: flex;
  justify-content: space-evenly;
}

.align{
  color: green;
}

.color{
  color: blue;
}

#cend{
  text-align: center;
  color: green;
}

#sect{
  display: flex;
  object-fit: fill;  
}


#fig{
  display: flex;
  justify-content: space-evenly;
}

#quote{
  padding-left: 20px;
  margin-top: 50px;
}
/*
.forms{
margin-left: 20px;
}*/

.posted{
  width: 100%;
  height: auto;
}

.thumbnail{
  width: 250px;
  height: 300px;
  overflow: hidden;
}

.column{
  margin-right: 10px;
  margin-left: 20px;
}

.bord{
  width: 1000px;
  margin-left: 20px;
}

.sub{
  background-color: #ffc107ad;
  height: 25px;
  text-align: center;
}


.ends{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding-right: 200px;
  box-shadow: green;
}

.form-inline{
  margin-left: 20px;
  justify-content: space-between;
  padding: 10px;
}





































/*.header {
	background-color: lightgreen;
}

 .logo {
 	display: flex;
  padding-right: 200px;
  width: auto;
  height: 40px;
  margin-left: 200px;

 }

 .arg{
  padding-left: 600px;
 }

.menu{
  text-align: center;
  color: lightgreen;
  margin-top: 10px;
}

.laptop{  
  text-align: center;
  height: 100px;  

}

.gadget{
  text-align: center;
}

.fig{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

figcaption{
  color: hotpink;
}
.best{
  text-align: center;
  color: hotpink;
  padding-left: 500px;  
}

.under{
  padding-top: 200px;
  text-align: center;
  color: lightgreen;
}

.pet{
  text-align: center;
  color: lightgreen;
  margin-top: 50px;
}

.material{
  text-align: center;
}

.text{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.quote{
  padding-left: 70px;
  margin-top: 50px;
}


.myf{
  text-align: center;

}

.sub{
  background-color: yellow;
  height: 25px;
  text-align: center;
}

.ends{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding-right: 200px;
}